header{
    display: inline-flex;
}

.logo{
    display: flex;
    position: absolute;
    align-self: center;
    margin: 1%;
    z-index: 1;
}
.logo img{
    height: 80px;
    width: 100px;
}

.banner{
    display: flex;
    align-self: flex-start;
    height: 100px;
    width: 100vw;
    background-image: url(../img/);
    background-position: 38% 56%;
    justify-content: center;
    z-index: 0;
}
.banner h1{
    align-self: center;
    color: white;
    font-size: 3em;
}

.nav-item{
    margin-inline: 1rem;
}