@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Lexend Deca', sans-serif;
}
header{
    display: inline-flex;
}

.logo{
    display: flex;
    position: absolute;
    align-self: center;
    margin: 1%;
    z-index: 1;
}
.logo img{
    height: 80px;
    width: 100px;
    border-radius: 50%;
}

.banner{
    display: flex;
    align-self: flex-start;
    height: 100px;
    width: 100vw;
    background-image: url(../img/);
    background-position: 38% 56%;
    justify-content: center;
    z-index: 0;
}
.banner h1{
    align-self: center;
    color: white;
    font-size: 3em;
}

.nav-item{
    margin-inline: 1rem;
}
.navbar-nav .nav-link {
  transition: color 1s ease-in-out;
}
.navbar-nav .nav-link:hover {
  color: red;
  transform: translateY(10px);
  transform: scale(1.2);
}
.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-rows: min-content;
  }
  
  .item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  h3{
    font-size: small;
    padding-top: 10px;
  }
  .item img {
    max-width: 100%;
    height: auto;
  }
  
  .item-description {
    visibility: hidden;
    margin-top: 10px;
    color:blue;
    font-size: small;
  }

  .price-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .price {
    text-decoration: none;
    color: gold;
    margin-right: 50%; 
    padding: 10px;
    font-size: small;
  }
  
  .price:hover {
    color: goldenrod;
    font-size: 1.2rem;
  }
  
  .gold-icon {
    display: inline-block;
    width: 25px;
    height: 19px;
    background-image: url(../image/Gold.webp);
    background-size: cover;
  }