header{
    display: inline-flex;
}

.logo{
    display: flex;
    position: absolute;
    align-self: center;
    margin: 1%;
    z-index: 1;
}
.logo img{
    height: 80px;
    width: 100px;
    border-radius: 50%;
}

.banner{
    display: flex;
    align-self: flex-start;
    height: 100px;
    width: 100vw;
    background-image: url(../img/);
    background-position: 38% 56%;
    justify-content: center;
    z-index: 0;
}
.banner h1{
    align-self: center;
    color: white;
    font-size: 3em;
}

.nav-item{
    margin-inline: 1rem;
}
.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-rows: min-content;
  }
  
  .item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
  }
  
  .item-description {
    visibility: hidden;
    margin-top: 10px;
  }